html,
body,
.container-fluid {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
.container-fluid {
  display: flex;
  flex-direction: column;
}
/* Header */
header {
  min-height: 60px;
  height: 3.5em;
  background: #2b2b2b;
  display: flex;
}
.bg-dark {
  background: #2b2b2b !important;
}
.img-col {
  height: 100%;
  width: auto;
  flex-shrink: 0;
}
.img-col img {
  min-height: 50px;
  width: 3em;
}
.text-col h3 {
  font-size: 2em;
  color: white;
}
.text-col h6 {
  color: white;
}
/* Main */
main {
  overflow: hidden;
}
.main-content {
  overflow-y: hidden;
}
.shift-col-outter {
  overflow: hidden;
}
#checking-controls {
  width: 18em !important;
}
.scanner-area {
  height: 7em !important;
}
#turnos {
  overflow: hidden;
}
/* Hora */
#identificador-de-hora {
  font-size: 3.5em;
}
/* SHIFT CONTAINER */
#shift-col-outter-id2 {
  height: 30% !important;
}
#shift-col-outter-id1 {
  height: 70% !important;
}

/* user cards */
.user-card-sso {
  font-size: 1.5em;
}
.initial-selector {
  width: 15em;
}
/* Loaders */

.cua {
  width: 40px;
  height: 40px;
  background-color: #333;

  margin: 100px auto;
  -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
  animation: sk-rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes sk-rotateplane {
  0% {
    -webkit-transform: perspective(120px);
  }
  50% {
    -webkit-transform: perspective(120px) rotateY(180deg);
  }
  100% {
    -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg);
  }
}

@keyframes sk-rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
  }
  50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
  }
  100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}
/* ----------------- */
.spinner {
  width: 40px;
  height: 40px;
  margin: 100px auto;
  background-color: #333;

  border-radius: 100%;
  -webkit-animation: sk-scaleout 1s infinite ease-in-out;
  animation: sk-scaleout 1s infinite ease-in-out;
}

@-webkit-keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    opacity: 0;
  }
}

@keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
}
